p {
	margin-left: 20px;
	text-indent: 10px;
}

img {
	width: 155px;
	height: 250px;
	float: left;
}
.photo{
	width: 320px;
	height: 240px;
	margin-left: 10px;
}
hr{
	height: 3px;
	background-color: blue;
}
a{
	color: green;
	text-decoration: none;
}
body{
	background: lightgrey;
}
h1{
	text-align: center;
	color: blue;
}
h2{
	text-align: center;
	font-size: 16px;
}
